.cover1 {
    background-image: url("https://www.pet-insurance.co.uk/images/alpha/timelimited-banner-1.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100vh;
    width: 100%;
    background-blend-mode: overlay;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-position: center; */
}

.title1 {
    font-weight: bold;
    padding: 20px 20px;
    font-weight: 800;
    color: green;
}

.about-btn1 {
    background-color: #ff0505;
    outline: none;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.about-btn1:hover {
    background-color: white;
    color: #ff0505;
}

/* Subscribe Section Start */

.subscribe {
    background-color: rgb(231, 231, 231);
}

.subscribe h3 {
    color: rgb(129, 129, 129);
}

.subscribe input {
    padding: 20px 20px;
    margin: 3% 0%;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.button-3 {
    background-color: #E76F51;
    border: none;
    color: white;
    padding: 20px 20px;
}